@charset "utf-8";
/* header */
/* header nav .global-nav li {
  display: flex;
  text-align: left;
  font-family: var(--en-font);
  font-size: 16px;
}
header nav .global-nav a span {
  color: #ffce07;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
nav .global-nav.active {
  display: flex;
} */
/* contents */

.main-slide .swiper .swiper-wrapper .swiper-slide {
  background: url(./images/main1.png) no-repeat 50% / cover;
  text-indent: -9999px;
  width: 100%;
  height: 41.432vh;
}
.main-slide .swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  display: none;
}
/* section1 */

.main-intro {
  background-color: #ff6b1b;
  text-align: center;
  background-image: url(./images/Group56.jpg);
  background-repeat: repeat-x;
  background-position: left bottom;
}
.main-intro .main-banner {
  padding: 71px 0 0 31px;
  text-align: left;
}
.main-intro .main-banner h3 {
  margin-bottom: 19px;
  font-size: 20px;
  font-family: var(--en-font);
}
.main-intro .main-banner h1 {
  font-size: 26px;
  font-weight: 900;
}
.main-intro .main-intro-img a {
  display: block;
  background: url(./images/banner2.png) no-repeat 50% / cover;
  width: 90%;
  height: 37.9135vw;
  margin: 61px auto;
  text-indent: -999px;
}
.main-intro .main-banner-txt {
  width: 90%;
  margin: auto;
  padding-bottom: 23.474vw;
}
.main-intro .main-banner-txt h1 {
  font-size: 26px;
  font-style: normal;
}
.main-intro .main-banner-txt h1 .yellow {
  color: #ffec83;
  word-break: break-all;
}
.main-intro .main-banner-txt p {
  font-size: 16px;
}

/* section2 */
.content {
  background-color: #ffec83;
  /* height: 1900px; */
}
.content .content-img {
  width: 90%;
  margin: 0 auto;
  padding-top: 85px;
}
.content .content-img-txt {
  width: 90%;
  margin: 0 auto;
  font-family: var(--en-font);
  padding-left: 10px;
}
.content .content-img-txt h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 35px 0;
}
.content .content-img-txt p {
  padding-bottom: 30px;
  font-size: 14px;
}
.content .content-txt {
  width: 90%;
  margin: 0 auto;
  font-family: var(--en-font);
  padding-left: 10px;
}
.content .content-txt h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 35px 0;
}
.content .content-txt p {
  padding-bottom: 30px;
  font-size: 14px;
}
.content .content-btn {
  text-align: right;
  padding: 0 10% 2% 0;
}
/* .content .content-btn span {
  padding-left: 10px;
}
.content .content-list-img .slide {
  display: flex;
  overflow: hidden;
  padding-bottom: 70px;
}
.content .content-list-img .slide li {
  margin-left: 5%;
  display: flex;
  position: relative;
}
.content .content-list-img .slide li .slide-book {
  width: 40.962vh;
  height: 20.54vh;
  background: url(./images/slide.png) no-repeat 50% / cover;
}
.content .content-list-img .slide li:nth-child(2) a {
  width: 40.962vh;
  height: 20.54vh;
  background: url(./images/slide2.png) no-repeat 50% / cover;
  margin-left: 5%;
}

.content .content-list-img .slide .content-gallery-txt {
  bottom: 5%;
  right: 5%;
  position: absolute;
} */

.mySwiper {
  /* overflow: hidden; */
}
.mySwiper .swiper-wrapper {
  /* overflow: hidden; */
  width: 100%;
  height: 37.11vw;
}
.mySwiper .swiper-wrapper .swiper-slide {
  /* margin-left: 5%; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.mySwiper .swiper-wrapper .swiper-slide .slide-book {
  /* height: 37.11vw; */
  /* width: 71.46vw; */
  width: 100%;
  height: 100%;
  display: block;
  background: url(./images/slide.png) no-repeat 50% / cover;
}
.mySwiper .swiper-wrapper .swiper-slide .slide-book .content-gallery-txt {
  position: absolute;
  top: 50px;
}
.mySwiper .swiper-wrapper .swiper-slide .slide-girl {
  /* width: 55.75vw; */
  display: block;
  /* height: 37.11vw; */
  width: 100%;
  height: 100%;
  background: url(./images/slide2.png) no-repeat 50% / cover;
}
.mySwiper .swiper-wrapper .swiper-slide .slide-teach {
  /* width: 55.75vw; */
  display: block;
  /* height: 37.11vw; */
  width: 100%;
  height: 100%;
  background: url(./images/slide3.jpg) no-repeat 50% / cover;
}
.swiper-button-next,
.swiper-button-prev {
  height: 21px;
}

.content-list {
  width: 90%;
  margin: 0 auto;
}
.content-list .content-list-txt h2 {
  font-size: 20px;
  font-family: var(--en-font);
  font-weight: 600;
}
.content-list .content-list-txt h3 {
  font-weight: 600;
  float: left;
  margin-right: 5px;
  font-size: 16px;
}
.content-list .content-list-ul {
  padding: 35px 0 60px 10px;
}
.content-list .content-list-ul h4 {
  font-size: 16px;
  margin-bottom: 20px;
}
.content-list .content-list-ul strong {
  font-size: 20px;
}
.content-list .content-list-ul p {
  font-size: 14px;
}
.content-list .content-list-ul li {
  margin-bottom: 7.042vh;
}
.content-list .content-list-ul li:last-child {
  margin-bottom: 0;
}

/* section3 */
.harkness {
  background-color: #4d76c6;
}
.harkness .harkness-intro {
  margin-left: 5%;
  color: #fff;

  font-weight: 700;
  padding: 36px 0;
}
.harkness .harkness-intro h2 {
  font-size: 30px;
}
.harkness .harkness-intro h2 span {
  font-weight: 700;
  padding-right: 5px;
  font-family: var(--en-font);
}
.harkness .harkness-intro p {
  font-size: 20px;
}
.harkness .harkness-main {
  width: 100%;
  margin: 0 auto;
}
.harkness .harkness-img {
  padding-bottom: 4.812vh;
}
.harkness .harkness-main .harkness-img .harkness-img-list {
  background: url(./images/block.png) no-repeat 50% / cover;
  width: 95%;
  height: 35.211vh;
  margin: auto;
}
.harkness .harkness-main .harkness-img:nth-child(2) .harkness-img-list {
  background: url(./images/book.png) no-repeat 50% / cover;
}
.harkness .harkness-main .harkness-img:nth-child(3) .harkness-img-list {
  background: url(./images/alphabet-animal-part1-.jpg) no-repeat 50% / cover;
}
.harkness .harkness-img-txt {
  width: 95%;
  height: 35.211vh;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4.108vh 5%;
  margin: auto;
}
.harkness .harkness-img-txt h2 {
  font-size: 20px;
  font-family: var(--en-font);
  font-weight: 900;
  padding-bottom: 2.465vh;
}
.harkness .harkness-img-txt p {
  padding-bottom: 21px;
  font-size: 14px;
}

/* footer */
footer {
  background-color: #f5f4ec;
}
.footer-logo h1 {
  width: 40%;
  padding-top: 3.873vh;
  padding-left: 5%;
}
.footer-logo .footer-social {
  display: flex;
  margin-left: 7%;
}
.footer-logo .footer-social svg {
  width: 25px;
  margin-right: 10px;
  align-items: baseline;
}
.notice {
  padding: 6.573vh 5%;
  font-size: 12px;
}
.notice .notice-box {
  width: 80%;
  padding-bottom: 20px;
}
.notice .notice-box p:first-child {
  border-bottom: 1px solid #000;
  color: #000;
}
.notice .notice-box p {
  padding: 5px 0;
  color: #999;
}
.profile p {
  padding: 5px 0;
  color: #999;
}
.profile p:first-child {
  width: 180px;
  display: block;
  border: 1px solid #000;
  text-align: center;
  margin-left: 5%;
}
.profile p:last-child {
  font-weight: bold;
  color: #000;
  margin-left: 5%;
}
.footer-copyright {
  font-size: 12px;
  margin-left: 5%;
}
.footer-copyright p {
  padding: 5px 0;
  color: #999;
}
.footer-copyright p:last-child {
  padding-bottom: 30px;
}
