@charset "utf-8";
/* header */
header .header-wrapper {
  width: 90%;
  height: 80px;
}
header h1 a {
  display: flex;
  height: 100%;
  align-items: center;
}
header nav {
  width: 60%;
}
header nav .mobile-btn {
  display: none;
}
header nav .global-nav {
  justify-content: space-around;
  display: flex;
  position: static;
  padding: 0;
  flex-flow: row nowrap;
}
header nav .global-nav li {
  display: flex;
  text-align: center;
  font-family: var(--en-font);
  font-size: 16px;
}
header nav .global-nav a span {
  color: #ffce07;
  font-weight: 400;
  font-size: 14px;
}

/* contents */

.main-slide .swiper .swiper-wrapper .swiper-slide {
  background: url(./images/main1.png) no-repeat 50% / cover;
  text-indent: -9999px;
  width: 50%;
  height: 46.5278vw;
}

/* section1 */
.main-intro .main-banner {
  text-align: center;
  padding-top: 11.875vh;
}
.main-intro .main-banner h3 {
  font-size: 26px;
  font-family: var(--en-font);
}
.main-intro .main-banner h1 {
  font-size: 36px;
}
.main-intro .main-intro-img {
  text-indent: -9999px;
  margin-top: 13.125vh;
}
.main-intro .main-banner-txt {
  margin-top: 15.104vh;
  padding-bottom: 20.833vh;
}
.main-intro .main-banner-txt h1 {
  display: flex;
  justify-content: center;
  font-size: 38px;
}
.main-intro .main-banner-txt p {
  font-size: 16px;
}

/* section2 */
.content .content-intro {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.content .content-intro .content-img {
  width: 72.917vh;
  margin: 0;
}
.content .content-intro .content-img-txt {
  width: 30.938vh;
  padding: 0;
  margin: 0 auto;
}
.content .content-intro .content-img-txt p {
  font-size: 16px;
}
.content .content-txt p {
  font-size: 16px;
}
.content .content-list .content-list-ul ul {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 65px;
}
.content .content-list .content-list-ul ul li {
  width: 310px;
}
.content .content-list .content-list-ul ul:nth-child(1) li {
  grid-template-columns: 1/2;
  grid-template-rows: 1/2;
}
.content .content-list .content-list-ul ul:nth-child(2) li {
  grid-template-columns: 2/3;
  grid-template-rows: 1/2;
}
.content .content-list .content-list-ul ul:nth-child(3) li {
  grid-template-columns: 1/2;
  grid-template-rows: 2/3;
}
.content .content-list .content-list-ul ul p {
  font-size: 16px;
}

/* section3 */
.harkness .harkness-intro span {
  display: contents;
}
.harkness .harkness-main {
  padding-bottom: 60px;
}
.harkness .harkness-main .harkness-img {
  width: 721px;
  display: flex;
  flex-direction: row-reverse;
  padding: 6.369vw 0 0 0;
}
.harkness .harkness-main .harkness-img:nth-child(2) {
  flex-direction: row;
}
.harkness .harkness-main .harkness-img img {
  width: 318px;
}
.harkness .harkness-main .harkness-img .harkness-img-txt {
  width: 403px;
  /* padding: 2.5vw; */
  justify-content: center;
}
.harkness .harkness-main .harkness-img .harkness-img-txt p {
  font-size: 12px;
}
