@charset "utf-8";

/* Vulf Sans */
@font-face {
  font-family: "Vulf Sans";
  src: url(../fonts/VulfSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vulf Sans";
  src: url(../fonts/VulfSans-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vulf Sans";
  src: url(../fonts/VulfSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vulf Sans";
  src: url(../fonts/VulfSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vulf Sans";
  src: url(../fonts/VulfSans-Light.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vulf Sans";
  src: url(../fonts/VulfSans-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* moret */
@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Semibold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Extrabold.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* hanna */
@font-face {
  font-family: "BM_HANNA_Air";
  src: url(../fonts/BMHANNAAir.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-95-Black";
  src: url("../../sub_page3/project2/assets/fonts/Helvetica-95-Black.woff")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gyeonggi";
  src: url("../../sub_page3/project2/assets/fonts/경기천년바탕_Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SolmoeKimDaeGeon */
@font-face {
  font-family: "SolmoeKimDaeGeon";
  src: url("../fonts/SolmoeKimDaeGeon-Light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SolmoeKimDaeGeon";
  src: url("../fonts/솔뫼김대건Light.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
/* EBS_Hunminjeongeum */
@font-face {
  font-family: "EBS_Hunminjeongeum";
  src: url("../fonts/EBS_Hunminjeongeum_L.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EBS_Hunminjeongeum";
  src: url("../fonts/EBS_Hunminjeongeum_R.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EBS_Hunminjeongeum";
  src: url("../fonts/EBS_Hunminjeongeum_SB.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* montserrat */
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Noto sans kR */
@font-face {
  font-family: "Noto sans kR";
  src: url("../fonts/NotoSansKR-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
