@charset "utf-8";

/* moret */
@font-face {
  font-family: "Moret";
  src: url(../fonts/AnyConv.com__Moret-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moret";
  src: url(../fonts/AnyConv.com__Moret-Book.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
