@charset "utf-8";

/* moret */
@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Semibold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moret";
  src: url(../fonts/Moret-Extrabold.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
