@charset "utf-8";

/* header*/

.header-wrapper {
  white-space: nowrap;
  position: relative;
  padding-top: 3.69rem;
}
.header-wrapper h1 {
  color: #333;
  font-size: 230px;
  font-family: "Moret", "Assistant", sans-serif;
  letter-spacing: -0.92px;
  padding-left: 72px;
  /* min-width: 1000px; */
  line-height: 220px;
}
.header-wrapper h1:nth-child(2) {
  font-family: "Vulf Sans", "Assistant", sans-serif;
}
.header-wrapper .star {
  width: 140px;
  height: 140px;
  background: url(./images/Bstar.png) no-repeat 50% / cover;
  position: absolute;
  top: 16rem;
  left: 69.94rem;
  animation: star infinite 3s ease-in-out;
}
@keyframes star {
  0%,
  100% {
    transform-origin: 50%;
    transform: translateY(30px);
  }
  50% {
    transform-origin: 50%;
    width: 200px;
    height: 200px;
    transform: translateX(-30px);
  }
}
.header-wrapper .text_box {
  display: block;
  height: 120px;
  color: #333;
  font-size: 3.5rem;
  font-family: "Pretendard Variable", "Assistant", sans-serif;
  letter-spacing: -0.15px;
  margin-left: 98px;
  text-align: left;
}
.blink {
  animation: blink 0.5s infinite;
  font-size: 3.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
.header-wrapper p span {
  display: block;
}
.header-slide {
  display: flex;
  color: #265d49;
  font-size: 80px;
  font-family: "Moret", "Assistant", sans-serif;
  text-transform: capitalize;
  padding-top: 13.5rem;
  align-items: baseline;
  flex-basis: 0;
  white-space: nowrap;
  overflow: hidden;
}
.header-slide .header-slide-box {
  display: flex;
  width: 200%;
  animation: slide 60s linear infinite;
}
.header-slide .header-slide-box .leftBox {
  display: flex;
  align-items: center;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.header-slide h2 > span {
  font-family: "Vulf Sans";
  margin-left: 20px;
}
.header-slide .leftBox > span {
  background: url(./images/Bstar.png) no-repeat 50% / contain;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.header-box-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 50px;
  border: 4px solid #265d49;
  background: #f8f3e8;
  overflow: hidden;
}
.header-box-slide .header-box {
  display: flex;
  width: 200%;
  animation: slide2 60s linear infinite reverse;
}
@keyframes slide2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.header-box-slide .header-box .slide-box {
  display: flex;
  align-items: center;
}
.header-box-slide h3 {
  flex-basis: 0;
  white-space: nowrap;
  color: #265d49;
  font-size: 24px;
  font-family: "Vulf Sans", "Assistant", sans-serif;
  font-weight: 700;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.header-box-slide .header-box .slide-box > span {
  background: url(./images/Bstar.png) no-repeat 50% / contain;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.container .container-wrapper {
  padding-left: 72px;
  padding-top: 6rem;
  /* opacity: 0;  */
}
.container .container-wrapper h1 {
  color: #333;
  font-size: 160px;
  font-family: "Moret";
  line-height: 135px;
  letter-spacing: -3.2px;
}
.container {
  overflow: hidden;
  position: relative;
}
.container .container-wrapper h1 span {
  font-family: "Vulf Sans", "Assistant", sans-serif;
  display: block;
}
.container .container-wrapper h2 {
  color: #333;
  font-size: 80px;
  font-family: Moret;
  letter-spacing: -4px;
  padding-top: 24px;
}
.container .container-btn {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  right: 18px;
  gap: 30px;
}

.container-box {
  width: 80%;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  padding-top: 131px;
}
.swiper_btn {
  position: absolute;
  top: 520px;
  right: 150px;
}
.swiper {
  position: static;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #265d49;
  font-size: 26px;
  font-family: "Vulf Sans", "Assistant", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px;
  text-align: center;
  white-space: normal;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid #265d49;
  background: #f8f3e8;
  margin-bottom: 41px;
  transition: 0.4s;
}
.swiper-button-next,
.swiper-button-prev {
  width: auto;
  height: auto;
}
.swiper-button-next::after,
.swiper-button-prev::after:hover {
  background-color: #265d49;
  color: #f8f3e8;
  border-radius: 90px;
}
.container .container-img {
  width: 80%;
  position: relative;
  transform: translateX(20%);
  padding-top: 2.56px;
  display: flex;
  /* justify-content: flex-end; */
  gap: 48px;
}
.container .container-img a {
  display: block;
  width: 39.4375rem;
  height: 38.25rem;
  background-color: #ddd;
  border-radius: 0 0 50px 50px;
  transition: 0.4s;
}

.container .container-img a:nth-child(1) {
  background: url(./images/teddy_bear1.png) no-repeat 50% / cover;
  opacity: 0.6;
}
.container .container-img a:nth-child(2) {
  background: url(./images/UIUX.jpg) no-repeat 50% / cover;
  opacity: 0.6;
}
.container .container-img a:nth-child(3) {
  background: url(./images/kingkong.png) no-repeat 50% / cover;
  opacity: 0.6;
}
.container .container-img a:nth-child(4) {
  background: url(./images/web_redesign.jpg) no-repeat 50% / cover;
  opacity: 0.6;
}
.container .container-img a:hover {
  opacity: 1;
}
.skill {
  width: 100%;
  height: 62.375rem;
  background: #265d49;
}
.skill .skill-intro {
  padding: 4rem 0 0 4.5rem;
  color: #f8f3e8;
  font-size: 5rem;
  font-family: "Moret", "Assistant", sans-serif;
  position: relative;
}

.skill .skill-intro span {
  background: url(./images/Wstar.png) no-repeat 50% / cover;
  width: 1.875rem;
  height: 1.88163rem;
  display: block;
  position: absolute;
  animation: size infinite 2s ease-in-out;
}
@keyframes size {
  0%,
  100% {
    transform: rotate(-100deg);
  }
  50% {
    transform: rotate(100deg);
  }
}
.skill .skill-intro span:first-child {
  top: 6.37rem;
  left: 2rem;
}
.skill .skill-intro span:last-child {
  top: 4.8rem;
  left: 38rem;
}
.skill .skill-list-box {
  padding-top: 1.94rem;
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  width: 87.5rem;
  margin: 0 auto;
}
.skill .skill-list-box .skill-list {
  border: 1px solid #f8f3e8;
  border-radius: 50px;
  width: 43.75rem;
  height: 21.875rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding-left: 8.19rem;
  transition: 0.3s;
}
.skill .skill-list-box .skill-list:hover {
  background-color: rgb(248, 243, 232, 0.3);
}
.skill .skill-list-box .skill-list:nth-child(2) {
  grid-column: 2/3;
}
.skill .skill-list-box .skill-list p {
  color: #e39d3d;
  font-size: 2.5rem;
  font-family: "Pretendard Variable", "Assistant", sans-serif;
  font-weight: 600;
  line-height: 4.75rem;
  letter-spacing: -0.025rem;
  margin-bottom: 0.63rem;
}
.skill .skill-list-box .skill-list li {
  color: #f8f3e8;
  font-size: 1.375rem;
  font-family: "Pretendard Variable", "Assistant", sans-serif;
  line-height: 2.4375rem;
  letter-spacing: -0.01375rem;
  display: flex;
  align-items: center;
}
.skill .skill-list-box .skill-list li span {
  display: inline-block;
  background: url(./images/Wstar.png) no-repeat 50% / cover;
  width: 1.5625rem;
  height: 1.5625rem;
  flex-shrink: 0;
  margin-right: 1.25rem;
}
.contact h1 {
  color: #333;
  font-size: 7.5rem;
  font-family: "Moret", "Assistant", sans-serif;
  line-height: 6.25rem;
  letter-spacing: -0.15rem;
  padding: 6rem 0 0 4.5rem;
}
.contact .contact-box {
  padding: 3.06rem 0 5.81rem 11.06rem;
  display: flex;
  gap: 3.01rem;
}
.contact .contact-box .contact-intro {
  width: 23rem;
  height: 34.8rem;
  border-radius: 50px;
  border: 3px solid #265d49;
  text-align: left;
  padding: 6.45rem 3.62rem 0 3.56rem;
  position: relative;
  overflow: hidden;
}
.contact .contact-box .contact-intro h2 {
  color: #000;
  font-size: 3.75rem;
  font-family: "Moret", "Assistant", sans-serif;
  line-height: 3.75rem;
}
.contact .contact-box .contact-intro h2 span {
  display: block;
}
.contact .contact-box .contact-intro p {
  padding-top: 2.55rem;
  color: #000;
  font-size: 1.25rem;
  font-family: "Pretendard Variable", "Assistant", sans-serif;
  line-height: 1.875rem;
}
.contact .contact-box .contact-intro p:last-child {
  width: 100%;
  height: 5.7rem;
  background: #265d49;
  margin-top: 5.09rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #e39d3d;
  font-size: 1.375rem;
  font-family: "Vulf Sans", "Assistant", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  line-height: 1rem;
}
.contact .contact-box .contact-txt {
  width: 61.61806rem;
  height: 34.875rem;
  border-radius: 50px;
  border: 3px solid #265d49;
}
.contact .contact-box .contact-txt ul {
  padding: 6rem 0 0 21.87rem;
  width: 72%;
}
.contact .contact-box .contact-txt li {
  color: #000;
  font-size: 1.5rem;
  font-family: "Pretendard Variable", "Assistant", sans-serif;
  font-weight: 500;
  line-height: 4.75rem;
  letter-spacing: -0.03rem;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
}
.contact .contact-box .contact-txt li:nth-child(3) span,
.contact .contact-box .contact-txt li:nth-child(4) span,
.contact .contact-box .contact-txt li:nth-child(5) span {
  animation: size infinite 2s ease-in-out;
}

.git:hover {
  color: #265d49;
  background: transparent;
  box-shadow: none;
}
.git:before,
.git:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #265d49;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.git:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.git:hover:before,
.git:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.contact .contact-box .contact-txt li span {
  background: url(./images/Bstar.png) no-repeat 50% / cover;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 25px;
}

/* footer */
footer .footer-slide {
  display: flex;
  color: #265d49;
  font-size: 80px;
  font-family: "Moret", "Assistant", sans-serif;
  text-transform: capitalize;
  padding-top: 10rem;
  align-items: baseline;
  flex-basis: 0;
  white-space: nowrap;
  overflow: hidden;
}
