@charset "utf-8";
:root {
  --font-size-11: 0.688rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.938rem;
  --font-size-17: 1.063rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-21: 1.313rem;
  --font-size-23: 1.438rem;
  --font-size-24: 1.5rem;
  --font-size-25: 1.563rem;
  --font-size-26: 1.625rem;
  --font-size-41: 2.563rem;
  --font-size-43: 2.688rem;

  --main-font-en: "Montserrat", "Noto Sans KR", -apple-system,
    BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica,
    "Apple SD Gothic Neo", sans-serif;
  --main-font-kr: "Noto Sans KR", "Montserrat", -apple-system,
    BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica,
    "Apple SD Gothic Neo", sans-serif;
}
