@charset "utf-8";

@import url(../common/style/variable.css);
/* font -'Noto Sans KR', 'Tenor Sans' */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Tenor+Sans&display=swap");
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #265d49;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #f8f3e8;
}
body {
  background-color: #f8f3e8;
  margin: 0;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}
/* header*/
nav {
  width: 100%;
  height: 70px;
  background: #f8f3e8;
  position: fixed;
  z-index: 999;
  top: 0;
}
nav ul {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 70px;
  padding: 0;
  margin: 0;
}
nav li {
  width: 25%;
  list-style: none;
}
nav li .button {
  display: block;
  width: 30%;
  margin: 0 auto;
  color: #265d49;
  font-size: 24px;
  font-family: "Moret", "Assistant", sans-serif;
  text-transform: capitalize;
}
li .button:after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: solid 2px #265d49;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
li .button:hover:after {
  transform: scaleX(1);
}
.star {
  color: #333;
  font-family: var(--vulf-font);
  font-size: var(--size-h2);
  font-weight: 500;
  align-items: center;
  gap: 26px;
}
.star span {
  display: block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/Bstar.png) no-repeat 50% / contain;
}

/* footer */
footer .footer-slide {
  display: flex;
  color: #265d49;
  font-size: 80px;
  font-family: "Moret", "Assistant", sans-serif;
  text-transform: capitalize;
  align-items: baseline;
  white-space: nowrap;
  overflow: hidden;
}
footer .footer-slide .footer .footer-slide-box .leftBox {
  margin: 0;
}
.footer-slide .footer-slide-box {
  display: flex;
  width: 200%;
  animation: slide 60s linear infinite;
}
.footer-slide .footer-slide-box .leftBox {
  display: flex;
  align-items: center;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
footer .footer-slide .leftBox > span {
  background: url(./images/Bstar.png) no-repeat 50% / cover;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
